body {
    background-color: rgb(49, 25, 25);
    color: white;
}

div {
    display: flex;
    
}

#pik {
    height: 40px;
    width: 100px;
    background-image: url(pik.jpg);
    background-size: 100%;
    border: none;
}

#pik:hover {
    opacity: 50%;
}

#kont {
    height: 40px;
    width: 100px;
    background-image: url(kont.jpg);
    background-size: 100%;
    background-position: 0px;
    border: none;
}

#kont:hover {
    opacity: 50%;
}